@using Shared.Organizations
@inject HttpClient _http
@inject HttpInterceptorService _interceptor
@inject ILogger<OwnedOrganizationsList> _logger
@inject OrganizationAppState _organizationAppState
@implements IDisposable

<div class="d-flex align-center">
    <MudText Color="Color.Primary"
        Class="my-4"
        Typo="Typo.h5">
        My Organizations
    </MudText>

    <MudSpacer></MudSpacer>

    <CreateOrganizationButton OnCreated="GetData"></CreateOrganizationButton>
</div>



@foreach (var organization in _organizations)
{
    <MudPaper Class="my-2 px-6 d-flex align-center rounded-lg"
    Height="72px">
        <MudText>
            @organization.Organization.Name
        </MudText>


        @if (@organization.IsDefault)
        {
            <MudIcon Icon="@Icons.Filled.CheckCircle"
        Color="Color.Success"
        Class="ml-4" />
        }

        <MudSpacer />

        @if (!@organization.IsDefault)
        {

            <MudMenu Icon="@Icons.Material.Filled.MoreVert">
                <SetDefaultOrganizationButton Id="@organization.Id"
            SavedAsDefault="OnSavedAsDefault" />
            </MudMenu>

        }
    </MudPaper>
}


@code {

    private IEnumerable<UserOrganizationResponse> _organizations { get; set; } = Enumerable.Empty<UserOrganizationResponse>();

    protected override async Task OnInitializedAsync()
    {
        _interceptor.RegisterEvent();

        _organizationAppState.StateChanged += (source, organizations) => OrganizationAppState_StateChanged(source, organizations);

        _organizations = _organizationAppState.Organizations ?? Enumerable.Empty<UserOrganizationResponse>();
    }

    private async Task GetData()
    {
        _organizations = await _http.GetFromJsonAsync<IEnumerable<UserOrganizationResponse>>("Organizations/Owned") ??
        Enumerable.Empty<UserOrganizationResponse>();

        _organizationAppState.UpdateOrganizations(this, _organizations);
    }

    private void OnSavedAsDefault(int id)
    {
        UserOrganizationResponse currentDefaultOrg = _organizations.Where(x => x.IsDefault).First();

        currentDefaultOrg.IsDefault = false;

        UserOrganizationResponse selectedOrg = _organizations.Where(x => x.Id == id).First();

        selectedOrg.IsDefault = true;

        _organizationAppState.UpdateOrganizations(this,_organizations);
    }

    private void OrganizationAppState_StateChanged(ComponentBase source, IEnumerable<UserOrganizationResponse> organizations)
    {

        if (source != this)
        {
            _organizations = organizations;

            StateHasChanged();
        }
    }

    void IDisposable.Dispose(){
        _organizationAppState.StateChanged -= (source, organizations) => OrganizationAppState_StateChanged(source, organizations);
    }
}