<MudPaper Class="my-2 pa-6 rounded-lg">
    <MudText Typo="Typo.h5">
        @BudgetHeader.CoveredFrom.ToShortDateString() - @BudgetHeader.CoveredTo.ToShortDateString()
    </MudText>

    <MudGrid Class="mt-4">
        <MudItem xs="3">
            <div class="d-flex align-center justify-center flex-column grey lighten-3 p-3 rounded">
                <MudText Typo="Typo.h6"
                    Class="mud-success-text">
                    @BudgetHeader.TotalBudget.ToString("#,##0.##")
                </MudText>
                <MudText Typo="Typo.subtitle1"
                    Class="grey-text darken-4">
                    Budget
                </MudText>
            </div>

        </MudItem>

        <MudItem xs="3">
            <div class="d-flex align-center justify-center flex-column grey lighten-3 p-3 rounded">
                <MudText Typo="Typo.h6"
                    Class="mud-error-text">
                    @BudgetHeader.TotalExpenses.ToString("#,##0.##")
                </MudText>
                <MudText Typo="Typo.subtitle1"
                    Class="grey-text darken-4">
                    Spent
                </MudText>
            </div>
        </MudItem>

        <MudItem xs="3">
            <div class="d-flex align-center justify-center flex-column grey lighten-3 p-3 rounded">
                <MudText Typo="Typo.h6"
                    Class="@_financialColor">
                    @BudgetHeader.RemainingBalance.ToString("#,##0.##")
                </MudText>
                <MudText Typo="Typo.subtitle1"
                    Class="grey-text darken-4">
                    Balance
                </MudText>
            </div>
        </MudItem>

        <MudItem xs="3">
            <div class="d-flex align-center justify-center flex-column grey lighten-3 p-3 rounded">
                <MudText Typo="Typo.h6"
                    Class="@_financialColor">
                    @BudgetHeader.ExpensePercent.ToString("#,##0.##")%
                </MudText>
                <MudText Typo="Typo.subtitle1"
                    Class="grey-text darken-4">
                    Usage
                </MudText>
            </div>
        </MudItem>
    </MudGrid>

</MudPaper>


@code {
    [Parameter]
    public BudgetHeaderResponse BudgetHeader { get; set; } = default!;

    public string _financialColor
    {
        get
        {
            string color = string.Empty;

            decimal percent = BudgetHeader.ExpensePercent;

            switch (percent)
            {
                case decimal n when n > 79:
                    color = "mud-error-text";
                    break;

                case decimal n when n > 49:
                    color = "mud-warning-text";
                    break;

                default:
                    color = "mud-success-text";
                    break;
            }

            return color;
        }
    }
}
